h1 {
  color: red;
  text-align: center;
}

img.before {
  width: 300px;
  float: left;
  background-color: #F7C20E;
}
.before {
   width: 300px;
   float: left;
   background-color: #F7C20E;
}

img.during {
   width: 300px;
   float: left;

}
.during {
    width: 300px;
    float: left;
    background-color: #DBF70E
}

img.after {
    width: 300px;
    float: left;
}
.after {
     width: 300px;
     float: left;
     background-color: #4EF70E
}

h2 {
  text-align: center;
}
body {
  text-align: center;
  width: 99%;
  object-fit: fill;
}
